<div class="container">
  <h1>Título: <%= @article.title %></h1>

  <p><%= @article.content %></p>



  <%# <p>
    <%= link_to 'All Tasks', tasks_path %>
  

  <%# <p>
    <%= link_to 'Edit this Task', edit_task_path(@task) %>
  

  <%# <p>
    <%= link_to 'Remove this Task', task_path(@task), method: :delete, data: { confirm: 'Hands up! Are you really done with this task?' } %>
  




</div>